h1
{
    
        Text-align:center;
        color:crimson;
      
}
body
{
    background-color: coral;
    color: darkgreen;
    text-align: center;
   
}
#family_image
{
    
        height:100px;
        width: 100px;
      
}
